/* global reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* gENERALE */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex.container {
    display: flex;
    /* il main axis in defaul e row e column fa divenrere una colonna */
    flex-direction: row-reverse; /* si puo mettere reverse */
    height: 300px;
 /* con flexjustify content non modifica la flexdirection */
    /* cemter etc.. tante cose  */
    /* wrap */
    flex-wrap: wrap;
    align-items: flex-start;
   
 }

 /* cosa sono */
 .flex.container > * {
    flex-basis: 100px; 
    flex-grow: 3; 
}


/* DEBUG */

.debug .flex.container{
    background-color: lightcoral;
    border: 3px dashed violet;
}

.debug .flex.item {
    background-color: rgb(0, 151, 156);
    border: 3px dashed rgb(130, 155, 238);
}

